<div class="container">
  <h3>La carte des Environs</h3>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54831.50080314731!2d-0.8977985332250953!3d43.75779094486553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd569f95cde7eda5%3A0x442a8ccca9ffab9a!2s686+Route+des+Gen%C3%AAts+d&#39;Or%2C+40380+Louer!5e0!3m2!1sen!2sfr!4v1471349134098"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <h3>Loisirs</h3>
  <ul>
    <li><label>Randonnées pédestres</label> : boucle de Louer, 6,5 km, environ 2 heures.</li>
    <li><label>Fêtes locales</label> au mois de mai.</li>
    <li><label>Pêche</label> à l'étang de Laubanère</li>
    <li><label>Tennis</label> (dérrière la mairie)</li>
    <li><label>Cinéma</label> à Pontonx sur l'Adour, Dax et Mont de Marsan</li>
  </ul>
  <p>Les principales villes des alentours sont <a href="http://www.ville-de-dax.fr/" target="_blank">Dax</a> et <a href="http://www.mont-de-marsan.org/"
      target="_blank"> Mont de Marsan</a></p>

  <p><label>Voir aussi:</label><a href="http://www.tourisme-landes-chalosse.com/">Le Tourisme dans les Landes</a></p>
</div>