<div class=" welcome">
  <div class="container ">
    <h1><img class="logo" src="img/logo-landes-chalosse.png">Bienvenue au Gîte Les Fougères</h1>
  </div>
</div>
<div class="container">
  <p>En famille ou entre amis, venez faire un séjour reposant ou dynamique dans notre gîte:</p>
  <img class="house" src="img/main-house.png">
  <ul>
    <li>Promenade, tennis, équitation, pêche, ...</li>
    <li>Océan à environ une demi-heure</li>
    <li>Visites Culturelles (Chalosse, Dax, Bayonne, Pays Basque, ...)</li>
    <li>Fêtes et Férias dans toute la région au cours de l'été</li>
  </ul>
  <p>Situé à proximité des centres thermaux de Préchacq-les-bains et à une quinzaine de kilomètres de Dax, ce gîte peut également
    être loué pour vos cures.</p>
  <p><label>Adresse:</label> <a href="https://www.google.fr/maps/place/686+Route+des+Genêts+d'Or,+40380+Louer" target="_blank">Gîte Les Fougères - 686 Route Des Genêts D'Or - 40380 Louer</a></p>
</div>