.container.main {
  border-radius: 1em;
  padding: .1em 1em .5em;
  background: lightgoldenrodyellow;
}

.welcome {
  margin-bottom: .5em;
}

.logo {
  width: 2.5em;
  margin-right: .5em;
}

img.house {
  width: 30em;
  margin: 1em;
}