<header class="navbar navbar-static-top" id="top">
  <div class="container">
    <nav class="navbar navbar-default" id="navbar">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['']">Accueil</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['house']">Le Gîte</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['surroundings']">Les Alentours</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['price-availability']">Prix et Disponibilité</a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>