<div class="container-fluid">
  <p> &quot;Les Fougères&quot; est une jolie maison de style basco-landais construite en 1934 sur un grand terrain de 2500 m²,
    partagé entre un jardin clos et un verger.</p>
  <slideshow [images]="['img/main-house.png','img/house1.png','img/house2.png','img/house3.png','img/house4.png']"></slideshow>
  <div class="row">
    <div class="col-md-6">
      <h3>Rez-de-Chaussée</h3>
      <img class="blueprint" src="img/downstairs.png">
      <p>Le rez-de-chaussée comprend:</p>
      <ul>
        <li>la cuisine-salle à manger
          <slideshow [images]="['img/kitchen.png','img/dining-room1.png','img/dining-room2.png','img/dining-room3.png']"></slideshow>
        </li>
        <li>le sallon avec un télévision et un lecteur DVD
          <slideshow [images]="['img/living-room1.png','img/living-room2.png']"></slideshow>
        </li>
        <li>une chambre avec un lit 140x180cm
          <slideshow [images]="['img/bedroom1-1.png','img/bedroom1-2.png']"></slideshow>
        </li>
        <li>une salle de bain avec un lave linge</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Premier Etage</h3>
      <img class="blueprint" src="img/upstairs.png">
      <p>Au premier étage se trouvent trois chambres et une salle d'eau:</p>
      <ul>
        <li>une chambre avec un lit 140x180cm, un lit de bébé
          <slideshow [images]="['img/bedroom2-1.png','img/bedroom2-2.png','img/bedroom2-3.png']"></slideshow>
        </li>
        <li>une chambre avec deux lits 90x180cm
          <slideshow [images]="['img/bedroom3-1.png','img/bedroom3-2.png','img/bedroom3-3.png']"></slideshow>
        </li>
        <li>une chambre avec un lit 120x180cm, un lit 90x180cm et une télévision
          <slideshow [images]="['img/bedroom4-1.png','img/bedroom4-2.png','img/bedroom4-3.png']"></slideshow>
        </li>
      </ul>
    </div>
  </div>
</div>