.block {
  border-radius: 1em;
  padding: .1em 1em .5em;
  margin: .5em;
  background: lightgoldenrodyellow;
}

.blueprint {
  width: 25em;
  margin: .5em;
}

.blueprint:hover {
  width: auto;
}