.block {
  border-radius: 1em;
  padding: .1em 1em .5em;
  margin: .5em;
  background: lightgoldenrodyellow;
}
table td, table th{
  border: black solid 1px;
  padding-left: 5px;
  padding-right: 5px;
}