<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <h3>Tarifs:</h3>
                <table>
                    <tr>
                        <th>Période</th>
                        <th>Calendrier</th>
                        <th>
                            <p>Tarifs par semaine</p>
                        </th>
                    </tr>
                    <tr>
                        <th>Haute Saison</th>
                        <td>
                            <p>Du 7 juillet au 1 septembre 2018</p>
                        </td>
                        <td>
                            <p>710€</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Moyenne Saison</p>
                            <p>(Juin, septembre et vacances scolaires)</p>
                        </th>
                        <td>
                            <p>Du 21 octobre au 4 novembre 2017</p>
                            <p>Du 23 décembre 2017 au 6 janvier 2018</p>
                            <p>Du 10 février au 10 mars 2018</p>
                            <p>Du 7 avril au 5 mai 2018</p>
                            <p>Du 9 juin au 7 juillet 2018</p>
                            <p>Du 1 septembre au 22 septembre 2018</p>
                            <p>Du 20 octobre au 3 novembre 2018</p>
                        </td>
                        <td>
                            <p>520€</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Basse Saison</th>
                        <td>
                            <p>Le reste des périodes</p>
                        </td>
                        <td>
                            <p>380€</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="block">
                <h3>Tarifs Spécifiques:</h3>
                <table>
                    <tr>
                        <td>Week-End (2 nuits)</td>
                        <td>
                            <p>280€</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Mid-Week (4 nuits)</td>
                        <td>
                            <p>380€</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Curistes (3 semaines de location - Hors Haute Saison)</td>
                        <td>
                            <p>15% de réduction sur le tarif applicable</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="block">
                <h3>Suppléments:</h3>
                <table>
                    <tr>
                        <td>Animaux</td>
                        <td>
                            <p>Chien: 8€/jour </p>
                            <p>Chat: Gratuit</p>
                            <p>Caution doublée en présence d'animaux.</p>
                        </td>
                    </tr>
                    <tr>
                        <td> Forfait Chauffage Obligatoire (du 01/11 au 30/04)</td>
                        <td>
                            <p>15€/jour</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Taxe de Séjour</td>
                        <td>
                            <p>0,50€/jour/personne de plus de 18 ans</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Forfait Ménage Optionnel</td>
                        <td>
                            <p>60€</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <h3>Disponibilité:</h3>
                <iframe src="https://www.google.com/calendar/embed?src=6hrqu3tj06llhhcr6otfmq0hdg%40group.calendar.google.com&amp;ctz=Europe/Paris" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="block">
                <h3>Contacts:</h3>
                <p><label>M. ou Mme LALANNE</label></p>
                <ul>
                    <li><a href="mailto:gite.fougeres@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> gite.fougeres@gmail.com</a></li>
                    <li><a href="tel:0561789215"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 05.61.78.92.15</a></li>
                    <li><a href="tel:0638681840"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 06.38.68.18.40</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>